---
import Layout from '../../layouts/Layout.astro'
import Form from './Form'
---

<Layout title='Inscribete'>
	<main class='flex flex-col gap-6 justify-center items-center h-[calc(100vh-4rem)]'>
		<div
			class='flex flex-col w-[80%] tablet/sm:w-[50%] laptop/sm:w-1/4 h-auto rounded-xl gap-6 bg-white-default ring-1 p-7 ring-gray-200'
		>
		<div class='flex flex-col gap-2 w-full'>
			<h1 class='text-2xl font-bold text-center laptop/sm:text-3xl text-black-text'>
				Inscríbete
			</h1>
			<p class='text-gray-500 text-center text-sm mobile/md:text-base'>
				Regístrate para recibir información sobre nuestros productos y servicios
			</p>
		</div>
			<Form client:load />
		</div>
	</main>
</Layout>
