---
import Layout from '../../layouts/Layout.astro'
import Form from './Form'
---

<Layout title='Inscribete'>
  <main class='flex flex-col gap-6 justify-center w-full items-center h-[calc(100vh-4rem)]'>
    <Form client:load />
  </main>
</Layout>
