---
import Layout from '../layouts/Layout.astro'
import Benefits from '../sections/Benefits.astro'
import CTA from '../sections/Cta.astro'
import Hero from '../sections/Hero.astro'
import More from '../sections/More.astro'
import NotionForX from '../sections/NotionForX.astro'
import Preview from '../sections/Preview.astro'
---

<Layout title='InNotion'>
  <main
    class='relative flex h-auto flex-col gap-14 px-4 py-16 tablet/sm:gap-20 tablet/sm:px-10 tablet/sm:py-[100px] laptop/sm:px-[180px] laptop/lg:[200px] desktop/sm:px-[350px]'
  >
    <!-- Initial Hero -->
    <Hero />

    <!-- Previewer -->
    <Preview />

    <!-- Notion for x -->
    <NotionForX />

    <!-- More -->
    <More />

    <!-- Benefits -->
    <Benefits />

    <!-- CTA -->
    <CTA />
  </main>
</Layout>
