---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import Instructor from '../sections/Instructor.astro'
import More from '../sections/More.astro'
import NotionForX from '../sections/NotionForX.astro'
import Preview from '../sections/Preview.astro'
---

<Layout title='InNotion'>
	<main class='relative flex h-auto flex-col gap-14 px-4 py-16 tablet/sm:gap-20 tablet/sm:px-10 laptop/sm:px-72 tablet/sm:py-[100px] laptop/lg:px-[350px]'>
		<!-- Initial Hero -->
		<Hero />

		<!-- Previewer -->
		<Preview />

		<!-- Notion for x -->
		<NotionForX />

		<!-- More -->
		<More />

		<!-- About instructor -->
		<Instructor />
	</main>
</Layout>
