---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  href: string;
  size?: 'sm' | 'md' | 'lg' | 'xl';
  text: 'white' | 'black';
  type?: 'primary' | 'secondary';
  styles?: string;
  content: string;
}

const { href, size, text, styles, type, content } = Astro.props;

const sizes = {
  sm: 'text-sm px-3 py-1',
  md: 'text-base px-4 py-2',
  lg: 'text-lg px-5 py-3',
  xl: 'text-xl px-6 py-4'
} as const

const types = {
  primary: 'bg-blue-discord',
  secondary: 'bg-black-text'
} as const

---

<a
  role='link'
  href={href}
  class:list={[
    styles,
    'flex items-center justify-center font-semibold rounded-lg font-inter gap-1 shadow-md text-md',
    sizes[(size as keyof typeof sizes)] ?? sizes.md,
    text === 'white' ? 'text-white-snow' : 'text-black-text',
    types[(type as keyof typeof types)] ?? types.primary
  ]}
>
  <slot name="left" />
  { content }
  <slot name="right" />
</a>

