---
interface Props {
  href: string;
  size?: 'sm' | 'md' | 'lg';
  text: 'white' | 'black';
}

const { href, size, text } = Astro.props;

const sizes = {
  sm: 'text-sm',
  md: 'text-base',
  lg: 'text-lg',
} as const

---

<a
  href={href}
  class:list={[
    'flex items-center justify-center bg-[#5865F2] font-semibold px-3 py-1 rounded-lg font-inter gap-1 shadow-md text-md',
    sizes[(size as keyof typeof sizes)] ?? sizes.md,
    text === 'white' ? 'text-white-snow' : 'text-black-text',
  ]}

>
  <slot name="left" />
  <slot>
    Button
  </slot>
  <slot name="right" />
</a>
