---
interface Props {
  styles?: string;
}

const {styles} = Astro.props
---

<div
  class:list={["relative rounded-xl bg-white-default px-6 py-8 tablet/sm:gap-12", styles]}
>
  <slot />
</div>

<!-- flex flex-col items-center gap-8 -->