<nav class="absolute z-30 bg-white w-full top-16 left-0 h-80">
  <ul class="gap-4">
    <li>
      <a href="#" class="font-medium text-black-text font-inter">Inicio</a>
    </li>
    <li>
      <a href="#" class="font-medium text-black-text font-inter">Lecciones</a>
    </li>
    <li>
      <a href="#" class="font-medium text-black-text font-inter">Blog</a>
    </li>
    <li>
      <a href="#" class="font-medium text-black-text font-inter">Contacto</a>
    </li>
  </ul>
</nav>
