<div class="flex items-center justify-center -space-x-1">
  <div class="h-10 w-10 tablet/sm:w-14 tablet/sm:h-14 ">
      <img
        class="h-full w-full rounded-full object-cover object-center"
        src="/tao-pp.webp"
        alt=""
      />

  </div>
  <div class="h-10 w-10 tablet/sm:w-14 tablet/sm:h-14">
    <img
      class="h-full w-full rounded-full object-cover object-center "
      src="/javier-pp.webp"
      alt=""
    />
  </div>
  <div class="h-10 w-10 tablet/sm:w-14 tablet/sm:h-14">
    <img
      class="h-full w-full rounded-full object-cover object-center "
      src="/tao-pp.webp"
      alt=""
    />
  </div>
  <div class="h-10 w-10 tablet/sm:w-14 tablet/sm:h-14">
    <img
      class="h-full w-full rounded-full object-cover object-center "
      src="/javier-pp.webp"
      alt=""
    />
  </div>
</div>
