<div class='flex items-center justify-center -space-x-1'>
	<img
		class='rounded-full object-cover object-center h-10 w-10 tablet/sm:w-14 tablet/sm:h-14'
		src='/profiles/tao-pp.webp'
		alt='tao'
	/>
	<img
		class='h-10 w-10 tablet/sm:w-14 tablet/sm:h-14 rounded-full object-cover object-center'
		src='/profiles/javier-pp.webp'
		alt='javier'
	/>
	<img
		class='h-10 w-10 tablet/sm:w-14 tablet/sm:h-14 rounded-full object-cover object-center'
		src='/profiles/tao-pp.webp'
		alt='tao'
	/>
	<img
		class='h-10 w-10 tablet/sm:w-14 tablet/sm:h-14 rounded-full object-cover object-center'
		src='/profiles/javier-pp.webp'
		alt='javier'
	/>
</div>
