---
import Link from '../components/Link.astro'
---

<header class='w-full flex justify-between items-center'>
  <a href='/' class='flex gap-2 items-center'>
    <img src='/brand/notion.svg' alt='notion icon' width='32' height='32' />
    <span class='font-semibold text-black-text font-inter'>Notion Venezuela</span>
  </a>

  <Link href='/inscribete' size='md' content='Inscríbete' text={'blue'} type={'phantom'} />
</header>
