---
import Section from '../components/Section.astro'
import Switcher from '../components/Switcher'
---

<Section styles='flex flex-col gap-10'>
	<h2 class='mx-auto text-2xl font-bold text-center font-inter text-black-text tablet/sm:text-4xl laptop/sm:w-10/12' slot='title'>
		Ayudando a contruir nuevas habilidades y experiencias.
	</h2>
	<Switcher client:load slot='content' />
</Section>
