---
import Section from '../components/Section.astro'
---

<Section styles='flex gap-10'>
  <picture>
    <source srcset={'/notion-page/word-brand-500.webp'} media={'(max-width: 425px)'} />
    <source srcset={'/notion-page/word-brand-800.webp'} media={'(max-width: 768px)'} />
    <img class='rounded-xl shadow-xl' src='/notion-page/word-brand-1200.webp' alt='' />
  </picture>
</Section>
