---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Home'>
  <main
    class='relative flex h-auto flex-col gap-14 px-4 py-16 tablet/sm:gap-20 tablet/sm:px-10 tablet/sm:py-[100px] laptop/sm:px-[200px] desktop/sm:px-[350px]'
  >
    <div class='flex flex-col gap-2'>
      <h1 class='text-6xl font-bold text-black-text text-center'>Temario</h1>
      <p class='text-lg font-medium text-black-text text-center'>
        Esto es lo que veras a lo largo del curso, toma nota y preparate para aprender mucho.
      </p>
    </div>

    <div>
      <h2 class='text-4xl font-bold text-black-text'>Introducción</h2>
      <p class='text-lg font-medium text-black-text'>
        En esta sección veremos los conceptos básicos de la programación y la lógica de
        programación.
      </p>
    </div>
  </main></Layout
>
