---
import Button from '../components/Button.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#121212" />
    <title>{title}</title>
  </head>

  <body>
    <header class="flex justify-between items-center px-4 py-4 tablet/sm:px-10 laptop/lg:px-[350px]">
      <div class="flex gap-2 items-center">
        <img src="/notion.svg" alt="notion icon" width="32" />
        <span class="font-semibold text-black-text font-inter"
          >Notion Venezuela</span
        >
      </div>
  
      <Button href="#" size="md">
        Entrar
      </Button>
    </header>

    <slot />
  </body>
</html>


<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto&display=swap");
</style>
